* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Monospace", sans-serif;
  background-color: #EDD295;
}

/* PAGE TITLE */
h1 {
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

/* FORM */
.form {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  background-color: #05AFA5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.finput {
  margin: 10px auto;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  width: 90%;
  display: flex;
}

#addbtn {
  margin: 10px auto;
  padding: 5px;
  border-radius: 10px;
  background-color: #FB6350;
  color: white;
  font-weight: 900;
  display: block;
  width: 50%;
}


/* SHOPPING LIST CONTAINER */
.container {
  width: 80%;
  margin: 40px auto;
  background-color: #FB6350;
  border-radius: 10px;
}

.categories {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

#cost {
  padding-left: 20px;
}


/* REPEATED ITEMS */
.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
  padding: 10px;
}

.cinputn {
  padding: 5px;
  border-radius: 10px;
  outline: none;
  width: 25%;
  margin: 5px auto;
}

.cinputp, .cinputq {
  padding: 5px;
  border-radius: 10px;
  outline: none;
  width: 15%;
  margin: 5px auto;
}

.material-icons.md-36 { 
  font-size: 36px; 
  color: white;
  line-height: middle;
}

@media only screen and (min-width: 380px) {
  #cost {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 490px) {
  #cost {
    padding-left: 35px;
  }
}

@media only screen and (min-width: 550px) {
  .form {
    width: 330px;
  }

  .container {
    width: 440px;
  }

  #cost {
    padding-left: 40px;
  }

}